$bg-cream : #F5EEE7;
$text-brown : #7E7260;

$primary-color: #1a4d2e;
$bg-light-green: #80CF89;
$bg-green: #e4f8db;
$bg-tern-green: #94C9A9;
$cta-green: #54966B;
$text-dark: #333;
$white: #fff;
$radius: 12px;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.05);